body {
    background-color: black;
}

.welcome {
    color: white;
    /* border: 2px solid red; */
    font-size: 8vw;
}

.welcome img {
    width: 86px;
    border-radius: 100%;
    border: radius;
}

.message-item {
    background-color: #02182A;
    padding: 29px;
    margin-bottom: 51px;
    border-radius: 58px;
}

.delete-icon {
    width: 20px;
    height: 20px;
}

.delete-message-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

message-author,
.message-item {
    color: #fff;
    display: inline-block;

}

.messages-list {
    display: flex;
    flex-direction: column;
    width: auto;

}

/* Style pour le champ de texte */
input[type="text"],
textarea {
    color: #02182A;
    background-color: #02182a;
    border: 1px solid #02182A;
    padding: 30px;
    font-size: 16px;
    border-radius: 46px;
    width: 100%;
}

/* Style pour le label */
input[type="text"], textarea {
    color: #ffffff;
    background-color: #02182a;
    border: 1px solid #6d8da8;
    padding: 60px;
    margin-bottom: 25px;
    font-size: 16px;
    border-radius: 46px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

li {
    list-style-type: none;
}

.send-messsage-button {
    width: 25%;
    height: 25%;
    background-color: chartreuse;
}


/* CSS */
.button-85 {
    padding: 1.5999999999999996em 35em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: right;
    /* Ajout de la propriété float:right */
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .send-message-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        /* Ajout de cette propriété */
    }

    input[type="text"],
    textarea {
        width: 80%;
        margin-bottom: 1em;
    }

    .button-85 {
        margin-left: auto;
        margin-right: 0;
    }
}

footer {
    background-color: #02182a;
    color: #fff;
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    font-size: 50px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

.send-message-section {
    position: absolute;
    bottom: 90px;
    width: 100%;
}