/* user-colors.css */

.user-color-1 {
    background-color: #FFC107;
  }
  
  .user-color-2 {
    background-color: #4CAF50;
  }
  
  .user-color-3 {
    background-color: #2196F3;
  }
  
  /* Ajoutez d'autres classes pour d'autres utilisateurs ici */